@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Onest", sans-serif;
  overflow-x: hidden;

  background: linear-gradient(to bottom right, #111827, #000000);
}
